<html>

<body>

<h1>Add new listing</h1>

<form action='/listings' method='post'>
  <input type='text' name='name' placeholder='Property name'required/>
  <input type='text' name='description' placeholder='Property description...'required/>
  <input type='number' name='price_per_night' placeholder='Price per night'required/></br>
  <input type='submit' value='Submit'/>
</form>
