<h1>Add new listing</h1>

<form action='/listings' method='post'>
  <input type='text' name='name' placeholder='Property Name'/>
  <input type='text' name='description' placeholder='Property description...'/>
  <input type='number' name='price_per_night' placeholder='Price per Night'/>
  <input type='submit' value='Submit'/>
</form>