<head>
  <link href='application.css' type='text/css' rel='stylesheet'>
</head>

<h1> Welcome to MMBB!</h1>
<h2> Hi <%= @name %> </h2>

<form action="/users/new" method="get">
  <button type="submit" name="Sign up">Sign up</button>
</form>

<form action='/listings/add' method='get'>
  <input type='submit' value='Add Listing'/>
</form>

<% @listings.each do |listing|  %>
  <h2><%= listing.name %> </h2>
  <h4><%= listing.description %> </h4>
  <h4><%= listing.price_per_night %> </h4>
<% end %>
