<!DOCTYPE html>
<html>

<body>

<% if @user %>
<form action='/listings/add' method='get'>
  <input type='submit' value='Add Listing'/>
</form>

<% end %>


<% @listings.each do |listing|  %>
  <h2><a href="/listings/<%=listing.id%>"> <%=listing.name %> </a></h2>
  <h4><%= listing.description %> </h4>
  <h4><%= listing.price_per_night %> </h4>
<% end %>

</body>
</html>
