<!DOCTYPE html>
<html lang="en">

<head>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/drop-in.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Monarch BnB</title>

</head>

<body>
  <header>
    <h1><a href="/">Monarch BnB</a></h1>
    <nav>
          <% if @user %>
      <h2> Hi <%= @user.name %> </h2>

      <form action="/users/<%= @user.id %>/bookings" method='get'>
        <input type='submit' value='My Bookings'/>
      </form>

      <form  action="/sessions/destroy" method="post">
        <input type="submit" value="Log out"/>
      </form>

      <!-- <form action='/listings/add' method='get'>
        <input type='submit' value='Add Listing'/>
      </form> -->

      

      <% else %>

      <div class="dropdown">
        <span></span>
        <div class="dropdown-content">
          <form action="/sessions" method="post">
            <input type='email' name='email' placeholder="email"/>
            <input type='password' name='password' placeholder="password"/>
            <input type="submit" value="Log in"/>
          </form>
        </div>
      </div>

      <form action="/users/new" method="get">
        <input type="submit" value="Sign up"/>
      </form>

      <% end %>
     
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <h4>Great work Ollie!</h4>
  </footer>
</body>
</html>
