<!DOCTYPE html>
<html>
<head>
  <title>Your bookings</title>
</head>

<h1> Here are your bookings </h1>
<form action='/listings' method='get'>
  <input type='submit' value='Back'/>
</form>

<% for i in 0...@bookings.length %>
  <h2><%= @listings[i].name %> </h2>
  <h4><%= @listings[i].description %> </h4>
  <h4>£<%= @listings[i].price_per_night %> per night</h4>
  <h4><%= @bookings[i].status.capitalize %> </h4>
<% end %>
